/* use for debugging horizontal scroll lmao
*{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.text-banner {
  align-items: center;
  text-align: center;
  background-color: #ed602c;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.text-banner-title {
  font-family: 'Spartan';
  font-size: 30px;
}
.text-banner-text {
  font-family: 'Quicksand';
  font-size: 20px;
}

/*
  .img{
    width:100%;
    height:100% !important;
    max-height:100%;
    max-width:100%;


  }*/
.side-banner-title {
  align-items: center;
  text-align: left;
  font-family: 'Spartan';
  vertical-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 60%;
}

.side-banner {
  align-items: center;
  text-align: left;
  font-family: 'Quicksand';
  vertical-align: center;
  font-size: 30px;
  font-weight: bold;
}

.carousel-text {
  font-family: 'Quicksand';
  color: black;
  font-weight: bold;
}

.bottom-text {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.bottom-text-title {
  font-family: 'Spartan';
  font-weight: bold;
  font-size: 40px;
  border: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.smallimg {
  align-items: center;
  justify-content: center;
  /*display:flex;
    flex-direction:column;*/
  font-family: 'Quicksand';
}
.imgrow {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30rem;
}

.card-images {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.card {
  border-radius: 0;
}

.card1 {
  background-color: #edf4fb;
  border: none;
}
.card2 {
  background-color: #76abe0;
  border: none;
  color: black;
}

.card3 {
  color: #ed602c;
}

.card-img-top {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}
.card a {
  color: inherit;
}

.card a:hover {
  font-weight: bold;
}

.card-title {
  font-family: 'Spartan';
  font-weight: bold;
}

.c {
  padding: 0px;
}
